@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    width: 938px;
    height: 104px;
    left: 466px;
    top: -15px;
    background: rgba(57, 56, 56, 0.65);
    border-radius: 25px;
    cursor:default;
}

#infobox {
    position: absolute;
    width: 797px;
    height: 426px;
    left: 163px;
    top: 221px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding-left: 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor:default;
}

#infobox p {
    line-height: 2.0;
}

#cta {
    position: absolute;
    background-color: #315175;
    cursor: pointer;
    color: #FFFFFF;
    padding: 14px 28px;
    left: 163px;
    top: 700px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

#cta a, a:visited, a:active {
    color: white;
    text-decoration: none;
  }

#cta:hover {
    color:#315175;
    background-color: #FFFFFF;
}

.AttentionGrabber {
    position: absolute;
    width: 396px;
    height: 59px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    text-align: center;
}

#landing {
    position:fixed;
    width: 1920px;
    height: 965px;
    left: 0px;
    top: 0px;
    background: url(BeSpokedBikesBackground.jpg) no-repeat center center fixed;
    background-size: cover;
}

#secondary {
    position: absolute;
    width: 1928px;
    height: 1080px;
    left: 0px;
    top: 961px;
    background: url(road.jpg) no-repeat center center fixed;
    border-top: 5px solid #000000;
    background-size: cover;
}

.informationHeader {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.buttongui {
    position: absolute;
    width: 536px;
    height: 607px;
    left: 10%;
    top: 90px;


    vertical-align: center;
}

.buttongui button{ 
    width: 217px;
    height: 69px;
}

#displayTable {
    background: #e8e8e8;
    display: inline-block;
    font-size: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

table {
    margin-left: 45%;
    width: 800px;
    border: 5px solid #000000;
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 20px;
    font-family: 'Montserrat', sans-serif;
}

#table1, #table2, #table3, #table4 {
    display: none;
}

#formsubmission{
    position: absolute;
    background-color: #000000;
    width: 1920px;
    height: 992px;
    left: 0px;
    top: 1000px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0px 50px 10px;
    font-size: 20px;
}

.error {
    color: #FF0000;
}

hr {
    color: #fff;
}